html, body {
    height: 100%;
    margin: 0;
}

.page {
    height: 100%;
    width: 100%;
}

.page-top {
    padding: 10px;
    background-color: rgb(241, 255, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.navbar-open-button {
    border: 0;
    background: none;
    height: 25px;
    width: 40px;
}

.navbar-open-button img {
    width: 100%;
    height: auto;
}

.heading {
    font-family: Arial, serif;
    margin: 0 0 0 25px;
    padding: 3px;
    font-size: 23px;
}

h2 {
    font-family: Arial, serif;
    font-size: 20px;
}

h3 {
    font-family: Arial, serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.55);
}

.navbar h2 {
    font-family: Arial, serif;
    margin: 28px 0 0 20px;
    padding: 0;
    font-size: 23px;
}

.navbar {
    background: rgb(241, 255, 255);
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 0;
    z-index: 1;
    position: fixed;
    overflow: hidden;
    transition: 0.05s ease-in;
}

.navbar button {
    margin: 8px;
    font-size: 22px;
    background: none;
    border: 0;
    grid-auto-flow: column;
    float: right;
}

.navbar a {
    display: block;
    padding: 11px 0 0 0;
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-family: Arial, "serif";
}

.navbar a:hover {
    background-color: rgb(250, 255, 255);
}

.container {
    display: grid;
    grid-template-columns: 65% 35%;
    height: 100%;
}

.left-section {
    display: grid;
    overflow: auto;
    grid-template-rows: auto auto;
}

.right-section {
    border-width: 4px;
    border-style: outset;
    overflow: auto;
}

.table-container {
    margin: 30px 50px;
    display: grid;
    grid-template-rows: auto 1fr;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 12px;
    text-align: left;
    border: 1px solid #ababab;
}

td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.control-container {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    overflow: hidden;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 15px;
}

input[type="submit"]:hover {
    margin-top: 15px;
    background-color: #0056b3;
}

.table-nav {
    margin: 0 auto auto auto;
    width: fit-content;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, auto);
    grid-auto-flow: column;
    align-items: center;
    gap: 5px;
}